<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GROUPINGS.Properties.Settings.BSCS1CConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BSCS1C.mdb"
            providerName="System.Data.OleDb" />
        <add name="GROUPINGS.Properties.Settings.gradingsheetConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\gradingsheet.mdb"
            providerName="System.Data.OleDb" />
        <add name="GROUPINGS.Properties.Settings.gradingsheetConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\gradingsheet.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
